# Elasticsearch
ELASTICSEARCH_URL=http://209.227.228.96:9200
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

# RabbitMQ
RABBITMQ_URL=amqp://benalsam:benalsam123@localhost:5672
RABBITMQ_QUEUE=elasticsearch.sync
RABBITMQ_EXCHANGE=benalsam.listings
RABBITMQ_DLX=benalsam.listings.dlx

# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Service
PORT=3003
NODE_ENV=development
LOG_LEVEL=info
